<table class="table" style="width: 100%;">
  <thead class="thead-default">
  <tr>
    <th>nom</th>
    <th>quantité</th>
    <th>action</th>

  </tr>
  </thead>
  <tr>  <td>  <input type="text" class="form-control" placeholder="Nom" aria-label="Nom" aria-describedby="basic-addon1" [(ngModel)]="nom">
  </td> <td><input type="text" class="form-control" placeholder="Quantite" aria-label="Quantité" aria-describedby="basic-addon1" [(ngModel)]="quantite">
  </td>
  <td><button type="button" class="btn btn-primary" (click)="addProduit()">Ajouter</button></td>
  </tr>
  <tr *ngFor="let result of produits" >

    <td>
      <div class="left">{{result.produitNom}}</div>
    </td>
    <td>
      <div class="left">{{result.produitQuantite}}</div>
    </td>
    <td>
      <button type="button" class="btn btn-danger" (click)="deleteProduit(result.produitId)">Effacer</button>
    </td>
  </tr>
  </tbody>
</table>
